node_modules/
tmp/
.DS_Store
.rpt2_cache
cache/

*.js
!demo/**/*.js
!docs/**/*.js
!dev/**/*.js
!rollup.config.js

*.css
!demo/**/*.css
!docs/**/*.css

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
