<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HyperMD Playground (for DEBUG)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="panel">
      <label><input :value="args.theme" @keypress.enter="set_theme" @blur="set_theme" title="Theme (press Enter to apply)"></label>
      <label v-for="(value, key) in windows" :key="key"><input type="checkbox" v-model="windows[key]">{{ key }}</label>
      <button onClick="refreshCSS()">Refresh CSS</button>
    </div>

    <div class="editor-area">
      <textarea id="my-textarea"></textarea>
    </div>

    <float-win v-model="windows.plugins" title="External Plugins">
      <p><small>Input the plugins, related packages and their entry filename:</small></p>
      <textarea v-model="plugins_lined" spellcheck="false" @blur="args.plugins=plugins_lined.trim().replace(/\s+/g,';')" cols="50" rows="10" style="font-family:monospace"></textarea>
      <p><button @click="refresh_page">Reload and Load Plugins</button></p>
    </float-win>

    <float-win v-model="windows.options" title="Editor Options" v-if="options">
      <fieldset>
        <legend>Click</legend>
        <option-input :dist="options.hmdClick" member="enabled"></option-input>
      </fieldset>

      <fieldset>
        <legend>Hover</legend>
        <option-input :dist="options.hmdHover" member="enabled"></option-input>
      </fieldset>

      <fieldset>
        <legend>InsertFile</legend>
        <option-input :dist="options.hmdInsertFile" member="byPaste"></option-input>
        <option-input :dist="options.hmdInsertFile" member="byDrop"></option-input>
      </fieldset>

      <fieldset>
        <legend>ReadLink</legend>
        <option-input :dist="options.hmdReadLink" member="baseURI"></option-input>
      </fieldset>

      <fieldset>
        <legend>TableAlign</legend>
        <option-input :dist="options.hmdTableAlign" member="enabled"></option-input>
      </fieldset>

      <fieldset>
        <legend>HideToken</legend>
        <option-input :dist="options.hmdHideToken" member="enabled"></option-input>
      </fieldset>

      <fieldset>
        <legend>Fold</legend>
        <option-input v-for="(_, key) in HyperMD.Fold.folderRegistry" :key="key" :dist="options.hmdFold" :member="key"></option-input>
      </fieldset>

      <fieldset>
        <legend>FoldCode</legend>
        <option-input v-for="(_, key) in HyperMD.FoldCode.rendererRegistry" :key="key" :dist="options.hmdFoldCode" :member="key"></option-input>
      </fieldset>
    </float-win>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/requirejs/require.js"></script>
  <script src="/goods/patch-requirejs.js"></script>
  <script src="./utils.js"></script>
  <script src="./main.js" data-main></script>
</body>

</html>
