body {
  margin: 0;
}

#app,
.full-fill,
.editor-area>.CodeMirror {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#app {
  display: flex;
  flex-flow: column;
}

.panel {
    background: #FAFAFA;
    border-bottom: 1px solid #EEE;
    display: flex;
}

.panel > * {
    border-left: 0;
    border-right: 1px solid #CCC;
    padding: 3px 5px;
}

.panel > button {
    cursor: pointer;
    border-bottom: 2px solid #999;
    border-top: 0;
    background: #EEE;
}

.panel > button:hover,
.panel > button:focus {
    background: #FAFAFA;
}

.editor-area {
  flex-grow: 1;
  position: relative;
}
