body {
  margin: 0;
}

#app,
#requirejs-error,
.full-fill,
.editor-area>.CodeMirror {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#requirejs-error {
    background: #FCC;
    overflow: auto;
    z-index: 1000;
    padding: 20px;
}

#requirejs-error button {
    padding: 5px 10px;
    border: 2px solid #000;
}

#app {
  display: flex;
  flex-flow: column;
}

.panel {
    background: #FAFAFA;
    border-bottom: 1px solid #EEE;
    display: flex;
}

.panel > * {
    border-left: 0;
    border-right: 1px solid #CCC;
    padding: 3px 5px;
}

.panel > button {
    cursor: pointer;
    border-bottom: 2px solid #999;
    border-top: 0;
    background: #EEE;
}

.panel > button:hover,
.panel > button:focus {
    background: #FAFAFA;
}

.editor-area {
  flex-grow: 1;
  position: relative;
}

.option-fieldset {
    position: relative;
}

.option-fieldset-help-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #39A;
    color: #FFF;
    text-decoration: none;
    border-radius: 100%;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

.option-fieldset-help-icon:hover {
    background-color: #4AE;
    transform: scale(1.1);
}

.option-fieldset-help {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #FFE;
    color: #663;
    font-size: .87em;
    padding: 2px 4px;
    z-index: 1;
    display: none;
}

.option-fieldset legend:hover + .option-fieldset-help {
    display: block;
}
