span.cm-formatting {
    transition: opacity .3s;
}

%hidden-token {
    width: 0px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    display: inline-block;
}

/* adding some CodeMirror-not-implemented styles' default style */
span.cm-inline-code,
span.cm-math {
    color: #900;
}


div.HyperMD-hover > .HyperMD-hover-content {
    background-color: #fff;
    padding: .5em;
    p {
        margin: .2em 0;
    }
}

.HyperMD-goback {
    width: 1px;
}
div.HyperMD-goback-button {
    background-color: #ddd;
    color: #333;
    text-align: center;
    cursor: pointer;
}

span.hmd-link-icon:after {
    content: "»"
}

pre.HyperMD-table-row {
  white-space: pre;
  .hmd-table-column {
    display: inline-block;
  }
}

span.hmd-fold-math,
span.cm-hmd-table-sep {
    display: inline-block;
    vertical-align: middle;
}

span.hmd-hidden-token {
    background: #9C0 !important;
}

pre.HyperMD-token-hidden > span > span{
     &.cm-formatting-em
    ,&.cm-formatting-strong
    ,&.cm-formatting-strikethrough
    ,&.cm-formatting-quote
    ,&.cm-formatting-code
    ,&.cm-formatting-header
    ,&.cm-formatting-link:not(.cm-hmd-footnote, .cm-hmd-barelink)
    ,&.cm-hmd-escape-backslash
    ,&.cm-formatting-header
    ,&.cm-hmd-footref-lead
//  ,&.cm-formatting-code-block
    {
        @extend %hidden-token;
    }

    &.cm-formatting-link.cm-hmd-barelink:not(.cm-hmd-footnote) {
        opacity: 0.4;
    }
}
