@charset "UTF-8";
span.cm-formatting {
  transition: opacity 0.15s;
}

span.hmd-hidden-token.cm-formatting-em, span.hmd-hidden-token.cm-formatting-strong, span.hmd-hidden-token.cm-formatting-strikethrough, span.hmd-hidden-token.cm-formatting-code, span.hmd-hidden-token.cm-formatting-link {
  width: 0px !important;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  display: inline-block;
}

/* adding some CodeMirror-not-implemented styles' default style */
span.cm-inline-code,
span.cm-math {
  color: #900;
}

div.HyperMD-hover > .HyperMD-hover-content {
  background-color: #fff;
  padding: 0.5em;
}
div.HyperMD-hover > .HyperMD-hover-content p {
  margin: 0.2em 0;
}

.HyperMD-goback {
  width: 1px;
}

div.HyperMD-goback-button {
  background-color: #ddd;
  color: #333;
  text-align: center;
  cursor: pointer;
}

span.hmd-link-icon:after {
  content: "»";
}

pre.HyperMD-table-row {
  white-space: pre;
}
pre.HyperMD-table-row .hmd-table-column {
  display: inline-block;
}

span.hmd-fold-math,
span.cm-hmd-table-sep {
  display: inline-block;
  vertical-align: middle;
}