@font-face {
    font-family: 'HyperMD-Bullets';
    src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAATYAAsAAAAABrQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAADLAAAAVkAAAFgkDDiyEZGVE0AAASsAAAAGwAAABx9TbkrR0RFRgAABIgAAAAiAAAAJgAnACpPUy8yAAABZAAAAEcAAABgVTNgQ2NtYXAAAALUAAAAQwAAAUoBRQLkaGVhZAAAAQgAAAAzAAAANgrgpUBoaGVhAAABPAAAAB4AAAAkBOsD+WhtdHgAAATIAAAAEAAAABALoAL5bWF4cAAAAVwAAAAGAAAABgAEUABuYW1lAAABrAAAASYAAAITC0mo3nBvc3QAAAMYAAAAEwAAACD/gwAzeJxjYGRgYABil5kPquP5bb4ycLMwgMCVWRq+ENpyHoMxAwNTNFMEkMvBwAQSBQAX2QkFAHicY2BkYGAyZtjFEMNsxQAETNEMjAyogAUAMnAB7AAAAABQAAAEAAB4nGNgYTZlnMDAysDANIvpDAMDQz+EZnzFYMTIARRlYOVkgAFGBiQQkOaawtDAoMWgy2z835ghhsn4vxuKGgUgZAQARsULIwB4nIWOMWvDMBSET4mT4g6lhC7dtBQSiI1kSgNZAw506FBIlk52YhyDsIPiDIGO/T39Lf01nXtyRJYOMcjv09O9ewfgDt8QOH+PePYsECL33MMNPj338YQfzwFCcet5gHvx4nnI/geVIgh5S7opxwIjvHnuca/x3McrvjwH1Px6HkCKB89DjMQSCzTY4wSLCiV2aCExxgYT1gQKGjNMyQYZlTmOwKLZn2xV7lo53kxkovRsKk3W5HxaoaZDxWNQYMtprOq2ak2xJb6zV9LBeVlei/JoMkJKZzfnqqWi6HbH3C4x5/nveu5rKiL+o0tSpE3dpo0tC5nESs7lZTtZq0hHLu61nGv2LA58d7kkvZ173FWXCevCHqqmlkrpWCklrxj+AequT5gAAHicY2BgYGaAYBkGRgYQcAHyGMF8FgYNIM0GpBkZmBi0GXT//wfytUD0/+v/r0HVAwEjGwOCQxAwMoHtG2YAAPijCSYAeJxjYGYAg/8NDMYMWAAAKBQBtgB4nEWOsUsCYRjG38+7y/O8zoxOIi8RXBLE0iWCtkYjLLBoNMsSJC2sKILIFuuDKIhKbBKDwDFovAgC5eb8AwqaCqql740TzBZ7nuU3Pb+HAM8DIUSKreZSufTSYgiIBQhE0AHoJqhZcJDDft7zbKm0ZM4zXW7JvEcC2+bsMKUdkK06xQ98FzQoOTSAHg3KTg1UjUR6gfsbHAAfBCYy2e311PJKzjuU8HvDI6HRgDcdzyxsdOz/N9qxgwwK8IT4ssflb6pjVCe6zuo6p7swiHfNYJfePFAxyurNqFXBBG6pGWYTYmvZZGFONO3nwtlUNX6/I86bnFAsXNILekurpcqN+DIuFK9PK7TdfHm3In7VhHQ1dZWkebp/tHcoKjiGYXxTJ0236Ywx54xhumrMxdRHU30QFPbaIJ/M4NgJ2lRmPJlGl/JT60O/SmWpITVkmRl2Zsjdv2uJiQgAAAB4nGNgZGBg4AFiMQY5BiYGRiBkBmIWoAgTEDNCMAAIgwBSAAB4nGNgYGBkAIIrkuH2YHqWhi+EtpwHADfuBa0AAgAAMwMzAOgDOgDiAzMA/A==') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cm-s-hypermd-light {
    $fs: 12pt;  //default font-size

    // font-family: Avenir, 'Lucida Grande', Calibri, 'Trebuchet MS', Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', STHeiti, 'Microsoft Jhenghei', 'Nanum Gothic', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', STHeiti, 'Microsoft Jhenghei', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;

    line-height: 1.5;
    font-size: $fs;

    %monospace {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    /// CodeMirror

    .cm-header, .cm-strong {font-weight: 600;}
    span.cm-quote { color: #666; }
    span.cm-meta { color: #FF1717; }
    span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
    span.cm-atom { color: #219; }
    span.cm-number { color: #164; }
    span.cm-def { color: #00f; }
    span.cm-variable { color: black; }
    span.cm-variable-2 { color: #0000C0; }
    span.cm-variable-3 { color: #0000C0; }
    span.cm-property { color: black; }
    span.cm-operator { color: black; }
    span.cm-comment { color: #4F9F5F; }
    span.cm-string { color: #2A00FF; }
    span.cm-string-2 { color: #f50; }
    span.cm-qualifier { color: #555; }
    span.cm-builtin { color: #30a; }
    span.cm-bracket { color: #cc7; }
    span.cm-tag { color: #170; }
    span.cm-attribute { color: #00c; }
    span.cm-url { color: #4af }
    span.cm-link {
        color: #4078c0;
        text-decoration: none;
        &:hover {
            text-decoration: underline
        }
    }
    span.cm-error { color: #f00; }
    span.cm-math { @extend %monospace; color: #300; font-style: italic; background: rgba(#ffe,.4); }
    span.cm-formatting-math {color: #CAA}

    .CodeMirror-activeline-background { background: #e8f2ff; }
    .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

    .CodeMirror-linenumber {
        color: #ccc;
    }
    .CodeMirror-gutters {
        border-right: 10px solid #FFF;
        padding-right: 5px;
    }
    .CodeMirror-foldmarker {
        display: inline-block;
        vertical-align: middle;
    }

    pre.CodeMirror-line {
        word-break: break-all;
    }

    /// Headers
    // in fact stdheader has no special meaning; they are just normal headers
    // legacy naming problem

    %hmd-stdheader-with-line {
        &:after {
            display: block;
            content: ' ';
            margin-top: 2px;
            height: 1px;
            background: #eee;
        }
    }

    span.cm-header   { color: #333; }
    span.cm-header-1 { font-weight: 600; font-size: $fs * 2 }
    span.cm-header-2 { font-weight: 600; font-size: $fs * 1.5 }
    span.cm-header-3 { font-size: $fs * 1.2 }

    pre.HyperMD-header {
        line-height: 1.5;

        &.HyperMD-header-1,
        &.HyperMD-header-2 {
            @extend %hmd-stdheader-with-line;
        }
    }

    pre.HyperMD-header-line {
        @extend %hmd-stdheader-with-line;
        color: rgba(#000, 0.3);
        line-height: 8px;
    }

    /// Horizontal Rule

    pre.HyperMD-hr{
        background: url('data:image/gif;base64,R0lGODlhAQACAIAAAOTq8kNWcCH5BAAAAAAALAAAAAABAAIAAAICDAoAOw==') repeat-x 0px center;
        text-shadow: 0 0 2px #FFF;
    }

    /// blockquote

    $quote-margin: 2px;
    $quote-padding: 20px;

    pre.HyperMD-quote
    {
        &:before {
            content: " ";
            position: absolute;
            left: $quote-margin;
            top: 0;
            height: 100%;
            background: url('data:image/gif;base64,R0lGODlhIAABAIABAOjo6P///yH5BAEAAAEALAAAAAAgAAEAAAIHhI8Yy+1cAAA7') 0 0;
            background-size: $quote-padding 1px;
        }
    }
    @for $i from 1 through 6 {
        pre.HyperMD-quote-#{$i} {
            padding-left: $quote-margin + ($quote-padding) * ($i);
            &:before {
                width: $quote-padding * $i;
            }
        }
    }

    /// list

    $list-indent-width: 2em;
    $list-wrapped-indent: 0.2em;

    .cm-hmd-list-indent,
    .cm-hmd-list-indent + .cm-formatting-list,
    pre.HyperMD-list-line-1 > span > .cm-formatting-list:first-child 
    {
        display: inline-block;
        width: $list-indent-width;
        box-sizing: border-box;
        border-left: 1px dashed #eee;
        vertical-align: middle;
        text-align: right;

        &.cm-hmd-list-indent-virtual + .cm-list-1:not(.cm-formatting) {
            /**
             *- xxx      <- without any space to indent the bullet
             *  xxxxxx   <- this is level2 line, but only one indent <span>. 
             */
            padding-left: $list-indent-width;
        }

        &.cm-hmd-list-indent-1 {
            display: inline;
            border-left: 0;
        }

        &.cm-hmd-list-indent-corrupted {
            background: rgba(#F00, 0.4);
        }
    }

    @for $i from 1 through 6 {
        pre.HyperMD-list-line-#{$i} {
            $indent_i: $list-indent-width * $i + $list-wrapped-indent;
            padding-left: $indent_i;
            > span > span:first-child {
                margin-left: - $indent_i - $list-wrapped-indent;
            }
        }
    }

    .cm-formatting-list
    {
        font-family: 'HyperMD-Bullets';
        color: #666;
        &.cm-list-2 {
            text-shadow: 0 1px #666, 0 -1px #666, 1px 0 #666, -1px 0 #666;
            color: #fff;
        }
    }

    span.cm-formatting-task // task list checkbox
    {
        @extend %monospace;
        white-space: nowrap;
        display: inline-block;
        height: 1em;
        line-height: 1em;
        min-width: 1em;
        text-align: center;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center 0;
        cursor: pointer;

        &.cm-property {
            background-position-y: -1em;
        }

        color: rgba(#000, .5);

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAMAAAA8VkqRAAAAclBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACa4vOeAAAAJXRSTlMADcjpDswcLZOzsvOYBvWdbtvTX0D69+ORa1dRJCDtuaF7ZDkoQyuUXgAAAMhJREFUOMvt0reywjAUhOFjKxmcrgMZboL//V8Rm6GwkNUx0LClvhkVZ1fEZoqHqMwO7wuUSb0YxcJKxtLpxIt2SzJRykkQp5RgdAjaIKRJCEn6gWdA9OzRoqLVRscQnc9bdtXX/eyurOF7N3erLVDPwCGHxoVwamH1LwGUBfBbhrCvoLlMitL9DY8trLtJg7qoCj18VAN1OYE/YJBuDe1RJtBVo5wbqPb+GL5yWG1GLX0YZYw5iQ93yQ/yAHfZzu5qt/mxr97VFS15JGSVM0C6AAAAAElFTkSuQmCC');
        background-size: 1em;
        // }
    }

    /// footnote for link and image
    pre.HyperMD-footnote {
        $footnote-left-indent: 4em;
        font-size: $fs * 0.85;
        padding-left: $footnote-left-indent;

        > span > span:first-child {
            margin-left: - $footnote-left-indent;
        }

        span.cm-hmd-footnote:not(.cm-formatting){
            display: inline-block;
            vertical-align: bottom;
            min-width: 4em;
            color: #666;
            cursor: text !important;
            text-decoration: none;

            &.cm-hmd-footnote-real { // [^something] , not [something]
                 + span.cm-url, + span.cm-url + span.cm-url { color: inherit }
            }
        }
    }

    /// code block

    // pre.hmd-codeblock-start,
    // pre.hmd-codeblock-end
    // {

    // }
    pre.HyperMD-codeblock {
        @extend %monospace;
        line-height: 1em;
        font-size: inherit;

        // &.hmd-codeblock-indent {
        span.cm-inline-code {
            display: inherit;
            background-color: inherit;
            border: inherit;
            padding: inherit;
        }
        // }

        &.HyperMD-codeblock-begin {
            border-top: 1px solid #CCC;
            border-radius: 4px 4px 0 0;
        }

        &.HyperMD-codeblock-end {
            border-bottom: 1px solid #CCC;
            border-radius: 0 0 4px 4px;
        }

        border-left: 1px solid #CCC;
    }

    // note: this is a background style
    div.HyperMD-codeblock-bg,
    div.HyperMD-codeblock-indented-bg {
        background-color: rgba(#eee, .5);
    }


    /// link

    .cm-formatting-link + .cm-formatting-link-string,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-formatting-link-string,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link + .cm-formatting-link-string
    {
        display: inline-block;
        font-size: .7em;
        vertical-align: text-top;
    }

    span.cm-url, span.cm-link, .cm-link + .CodeMirror-widget {
        cursor: pointer  !important
    }

    span.hmd-link-icon {
        background: url(hypermd-image-link.png) no-repeat center center;
        width: 20px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        opacity: .4;
        &:hover {
            opacity: 1
        }
        &:after {
            content: "" //remove default stuff
        }
    }

    /// image

    img.hmd-image {
        vertical-align: middle;
        width: auto;
        max-width: 95%;
        height: auto;
        &.hmd-image-loading {
            min-width: 24px;
            min-height: 24px;
            background: #eeeeee url(hypermd-image-spin.gif) no-repeat center center;
        }

        &[src$="?HyperMD-Uploading"] {
            outline: 2px dashed #CCC;
            animation: HyperMD-uploading-blink 2s infinite;
        }

        @keyframes HyperMD-uploading-blink {
            0%, 100% { opacity: 0.7 }
            50% { opacity: 0.4 }
        }
    }

    /// math blocks

    span.cm-math-2 { font-size: 1.1 * $fs }

    /// other Markdown stuff

    span.cm-hmd-escape-backslash { color: #999; }
    span.cm-escape-char { color: #666 }
    span.cm-hmd-footref {
        display: inline-block;
        font-size: .7em;
        vertical-align: text-top;
        background-color: rgba(#eee, .7);
        color: #999;
        margin-top: -.2em;
    }

    span.cm-inline-code {
        @extend %monospace;
        color: #922;
        font-size: 90%;

        &:not(.cm-formatting) {
            display: inline-block;
            background-color: rgba(#eee, .5);
            border-radius: 4px;
            vertical-align: middle;
            border: #ccc solid 1px;
            padding: 1px .4em;
        }
    }

    /// hyperMD stuff

    /// hypermd/addon/click

    .HyperMD-goback {
        width: 1px;
    }
    div.HyperMD-goback-button {
        padding-right: 15px; // not less than .CodeMirror-gutters padding-right
        border-radius: 0 10px 10px 0;
        display: inline-block;
        text-align: center;
        background-color: lighten(#4078c0, 20%);
        color: #f7f7f7;
        cursor: pointer;
        // transition: .2s;
        &:hover {
            // background-color: #fafafa;
            color: transparent;
            text-align: left;
            &:before {
                position: absolute;
                padding-left: 5px;
                content: "Back";
                color: #f7f7f7;
            }
        }
    }

    /// hpyermd table

    pre.HyperMD-table-row {
        span.cm-hmd-table-sep {
            width: 1em;
            text-align: center;
            box-sizing: content-box;
            font-family: monospace;
        }

        &.HyperMD-table-rowsep {
            line-height: .5em;
            overflow: hidden;
            text-shadow: 0 1px #FFF, 0 -1px #FFF, 1px 0 #FFF, -1px 0 #FFF;
        }

        &.HyperMD-table-row-0 {
            // title row
            font-weight: bold;
        }
    }

    /// hypermd/addon/hover

    div.HyperMD-hover {
        > .HyperMD-hover-content {
            background-color: #000;
            background-color: rgba(#000, .7);
            color: #fff;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 95%;
            min-width: 200px;
            a {
                color: inherit
            }
            p {
                margin: .2em 0;
            }
            code {
                @extend %monospace;
                display: inline-block;
                font-size: .87em;
                border: 1px solid #999;
                border-radius: 2px;
                padding: 0px 4px;
            }
        }
        > .HyperMD-hover-indicator {
            content: " ";
            display:block;
            width: 0px;
            margin-bottom: -5px;
            border: 5px solid transparent;
            border-top-color: #000;
            border-top-color: rgba(#000, .7);
        }
    }

    /// hide-token
    pre.HyperMD-token-hidden {
        // background: aqua;  // just for debug

        span.cm-formatting-task {
            color: transparent;
        }

        &.HyperMD-hr {
            color: transparent;
            text-shadow: none;
        }

        &.HyperMD-table-row {
            span.cm-hmd-table-sep {
                color: transparent;
            }
        }

        &.HyperMD-table-rowsep {
            color: transparent;
            text-shadow: none;
        }
    }
}

/// hypermd/addon/fold-math

div.HyperMD-math-preview {
    overflow: auto;
    text-align: center;
    min-height: 3.5em;
    max-height: 7em;
    border-top: 1px solid #EEE;
    background: #f7f7f7;

    &:after {
        display: block;
        content: ' ';
        clear: both;
    }

    > div.HyperMD-math-preview-content {
        overflow: hidden;

        .MathJax_Display,
        .MathJax_SVG_Display {
            margin: 10px 0;
        }
    }

    > div.HyperMD-math-preview-title {
        background: #EEE;
        color: #666;
        font-size: 10px;
        padding: 4px;
        cursor: pointer;
    }

    &.HyperMD-math-preview-hidden {
        height: 0px;
        min-height: 0px;
        overflow: hidden;
        border-top: 0;
    }
}