@import "github.scss";
@import "../common/color.scss";

html {
  $fg: #ccc;
  $bg: #0c0c0c;
  $url-color: #08c;
  $hashtag-bg: contrast($bg, lighten($bg, 8%), darken($bg, 6%));
  $hashtag-color: #00BCD4;
  @include github($fg, $bg, $url-color, $hashtag-bg, $hashtag-color);
}
