@import "github.scss";
@import "../common/color.scss";

html {
  $fg: #d4d4d4;
  $bg: #1e1e1e;
  $url-color: #08c;
  $hashtag-bg: contrast($bg, lighten($bg, 8%), darken($bg, 6%));
  $hashtag-color: #00bcd4;
  @include github($fg, $bg, $url-color, $hashtag-bg, $hashtag-color);
}
