@import "github.scss";

// Config -----------------------------------
$syntax-hue: 220;
$syntax-saturation: 13%;
$syntax-brightness: 18%;


// Monochrome -----------------------------------
$mono-1: hsl($syntax-hue, 14%, 71%); // default text

// Base colors -----------------------------------
$syntax-fg: $mono-1;
$syntax-bg: hsl($syntax-hue, $syntax-saturation, $syntax-brightness);
$url-color: #56b6c2;

html {
  @include github($syntax-fg, $syntax-bg, $url-color);
}
