@charset "UTF-8";
span.cm-formatting {
  transition: opacity .3s; }

pre.HyperMD-token-hidden >
span > span.cm-formatting-em, pre.HyperMD-token-hidden >
span > span.cm-formatting-strong, pre.HyperMD-token-hidden >
span > span.cm-formatting-strikethrough, pre.HyperMD-token-hidden >
span > span.cm-formatting-quote, pre.HyperMD-token-hidden >
span > span.cm-formatting-code, pre.HyperMD-token-hidden >
span > span.cm-formatting-header, pre.HyperMD-token-hidden >
span > span.cm-formatting-link:not(.cm-hmd-footnote):not(.cm-hmd-barelink), pre.HyperMD-token-hidden >
span > span.cm-formatting-escape-char {
  width: 0px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  display: inline-block; }

/* adding some CodeMirror-not-implemented styles' default style */
span.cm-inline-code,
span.cm-math {
  color: #900; }

div.HyperMD-hover > .HyperMD-hover-content {
  background-color: #fff;
  padding: .5em; }
  div.HyperMD-hover > .HyperMD-hover-content p {
    margin: .2em 0; }

.HyperMD-goback {
  width: 1px; }

div.HyperMD-goback-button {
  background-color: #ddd;
  color: #333;
  text-align: center;
  cursor: pointer; }

span.hmd-link-icon:after {
  content: "»"; }

span.hmd-fold-math {
  display: inline-block;
  vertical-align: middle; }
