$h1-font-size: 2.25rem;
$h1-padding-bottom: 0.3rem;

$h2-font-size: 1.75rem;
$h2-padding-bottom: 0.3rem;

$h3-font-size: 1.5rem;

$h4-font-size: 1.24rem;

$h5-font-size: 1.1rem;

$h6-font-size: 1.0rem;
