@font-face {
    font-family: 'HyperMD-Bullets';
    src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAATYAAsAAAAABrQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAADLAAAAVkAAAFgkDDiyEZGVE0AAASsAAAAGwAAABx9TbkrR0RFRgAABIgAAAAiAAAAJgAnACpPUy8yAAABZAAAAEcAAABgVTNgQ2NtYXAAAALUAAAAQwAAAUoBRQLkaGVhZAAAAQgAAAAzAAAANgrgpUBoaGVhAAABPAAAAB4AAAAkBOsD+WhtdHgAAATIAAAAEAAAABALoAL5bWF4cAAAAVwAAAAGAAAABgAEUABuYW1lAAABrAAAASYAAAITC0mo3nBvc3QAAAMYAAAAEwAAACD/gwAzeJxjYGRgYABil5kPquP5bb4ycLMwgMCVWRq+ENpyHoMxAwNTNFMEkMvBwAQSBQAX2QkFAHicY2BkYGAyZtjFEMNsxQAETNEMjAyogAUAMnAB7AAAAABQAAAEAAB4nGNgYTZlnMDAysDANIvpDAMDQz+EZnzFYMTIARRlYOVkgAFGBiQQkOaawtDAoMWgy2z835ghhsn4vxuKGgUgZAQARsULIwB4nIWOMWvDMBSET4mT4g6lhC7dtBQSiI1kSgNZAw506FBIlk52YhyDsIPiDIGO/T39Lf01nXtyRJYOMcjv09O9ewfgDt8QOH+PePYsECL33MMNPj338YQfzwFCcet5gHvx4nnI/geVIgh5S7opxwIjvHnuca/x3McrvjwH1Px6HkCKB89DjMQSCzTY4wSLCiV2aCExxgYT1gQKGjNMyQYZlTmOwKLZn2xV7lo53kxkovRsKk3W5HxaoaZDxWNQYMtprOq2ak2xJb6zV9LBeVlei/JoMkJKZzfnqqWi6HbH3C4x5/nveu5rKiL+o0tSpE3dpo0tC5nESs7lZTtZq0hHLu61nGv2LA58d7kkvZ173FWXCevCHqqmlkrpWCklrxj+AequT5gAAHicY2BgYGaAYBkGRgYQcAHyGMF8FgYNIM0GpBkZmBi0GXT//wfytUD0/+v/r0HVAwEjGwOCQxAwMoHtG2YAAPijCSYAeJxjYGYAg/8NDMYMWAAAKBQBtgB4nEWOsUsCYRjG38+7y/O8zoxOIi8RXBLE0iWCtkYjLLBoNMsSJC2sKILIFuuDKIhKbBKDwDFovAgC5eb8AwqaCqql740TzBZ7nuU3Pb+HAM8DIUSKreZSufTSYgiIBQhE0AHoJqhZcJDDft7zbKm0ZM4zXW7JvEcC2+bsMKUdkK06xQ98FzQoOTSAHg3KTg1UjUR6gfsbHAAfBCYy2e311PJKzjuU8HvDI6HRgDcdzyxsdOz/N9qxgwwK8IT4ssflb6pjVCe6zuo6p7swiHfNYJfePFAxyurNqFXBBG6pGWYTYmvZZGFONO3nwtlUNX6/I86bnFAsXNILekurpcqN+DIuFK9PK7TdfHm3In7VhHQ1dZWkebp/tHcoKjiGYXxTJ0236Ywx54xhumrMxdRHU30QFPbaIJ/M4NgJ2lRmPJlGl/JT60O/SmWpITVkmRl2Zsjdv2uJiQgAAAB4nGNgZGBg4AFiMQY5BiYGRiBkBmIWoAgTEDNCMAAIgwBSAAB4nGNgYGBkAIIrkuH2YHqWhi+EtpwHADfuBa0AAgAAMwMzAOgDOgDiAzMA/A==') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cm-s-hypermd-light {
    $fs: 12pt;  //default font-size

    $footnote-padding: 40px;
    $quote-margin: 2px;
    $quote-padding: 20px;
    $list-margin: 10px;
    $list-indent: 30px;
    $list-bullet-width: 30px;
    $list-margin-after-line: .3em;
    $table-border-style: 1px solid #999;
    $table-row1-height: 8px;
    $table-sep-width: 15px;
    $table-sep-image: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mOc+R8AAjcBmvywMWoAAAAASUVORK5CYII=';
    $table-row-1-image: $table-sep-image;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Noto Sans CJK SC', 'Microsoft YaHei', STHeiti, 'Microsoft Jhenghei', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;

    line-height: 1.5;
    font-size: $fs;

    %monospace {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    /// CodeMirror

    .cm-header, .cm-strong {font-weight: 600;}
    span.cm-quote { color: #666; }
    span.cm-meta { color: #FF1717; }
    span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
    span.cm-atom { color: #219; }
    span.cm-number { color: #164; }
    span.cm-def { color: #00f; }
    span.cm-variable { color: black; }
    span.cm-variable-2 { color: #0000C0; }
    span.cm-variable-3 { color: #0000C0; }
    span.cm-property { color: black; }
    span.cm-operator { color: black; }
    span.cm-comment { color: #4F9F5F; }
    span.cm-string { color: #2A00FF; }
    span.cm-string-2 { color: #f50; }
    span.cm-qualifier { color: #555; }
    span.cm-builtin { color: #30a; }
    span.cm-bracket { color: #cc7; }
    span.cm-tag { color: #170; }
    span.cm-attribute { color: #00c; }
    span.cm-url { color: #4af }
    span.cm-link {
        color: #4078c0;
        text-decoration: none;
        &:hover {
            text-decoration: underline
        }
    }
    span.cm-error { color: #f00; }
    span.cm-math { @extend %monospace; font-style: italic; background: rgba(#ffe,.4); }
    span.cm-formatting-math { color: #CAA; font-weight: inherit; }

    .CodeMirror-activeline-background { background: #e8f2ff; }
    .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

    .CodeMirror-linenumber {
        color: #ccc;
    }
    .CodeMirror-gutters {
        border-right: 10px solid #FFF;
        padding-right: 5px;
    }
    .CodeMirror-foldmarker {
        display: inline-block;
        vertical-align: middle;
    }

    /// TOC
    span.cm-hmd-toc {
        font-size: $fs * 2;
        color: #999;
    }

    /// OrgMode
    span.cm-hmd-orgmode-markup {
        @extend %monospace;
    }

    /// Headers
    // in fact stdheader has no special meaning; they are just normal headers
    // legacy naming problem

    %hmd-stdheader-with-line {
        &:after {
            display: block;
            content: ' ';
            margin-top: 2px;
            height: 1px;
            background: #eee;
        }
    }

    pre.HyperMD-header {
        // see https://github.com/laobubu/HyperMD/issues/25
        line-height: 1.5 !important;
        font-family: inherit !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
        border-left: 0 !important;
        > span > span:first-child {
            margin-left: 0 !important;
        }

        color: #333;

        &.HyperMD-header-1 { font-weight: 600; font-size: $fs * 2 }
        &.HyperMD-header-2 { font-weight: 600; font-size: $fs * 1.5 }
        &.HyperMD-header-3 { font-size: $fs * 1.2 }

        &.HyperMD-header-1,
        &.HyperMD-header-2 {
            @extend %hmd-stdheader-with-line;
        }
    }

    pre.HyperMD-header-line {
        @extend %hmd-stdheader-with-line;
        color: rgba(#000, 0.3);
        line-height: 8px;
    }

    /// Horizontal Rule

    pre.HyperMD-hr{
        background: url('data:image/gif;base64,R0lGODlhAQACAIAAAOTq8kNWcCH5BAAAAAAALAAAAAABAAIAAAICDAoAOw==') repeat-x 0px center;
        text-shadow: 0 0 2px #FFF;
    }

    /// blockquote

    pre.HyperMD-quote
    {
        &:before {
            content: " ";
            position: absolute;
            left: $quote-margin;
            top: 0;
            height: 100%;
            background: url('data:image/gif;base64,R0lGODlhIAABAIABAOjo6P///yH5BAEAAAEALAAAAAAgAAEAAAIHhI8Yy+1cAAA7') 0 0;
            background-size: $quote-padding 1px;
        }
    }
    @for $i from 1 through 6 {
        pre.HyperMD-quote-#{$i} {
            $padding-left: $quote-margin + ($quote-padding) * ($i);
            padding-left: $padding-left;

            &:before {
                width: $quote-padding * $i;
            }

            &.HyperMD-footnote {
                padding-left: $padding-left + $footnote-padding;
            }
        }
    }

    /// list

    span.cm-hmd-list-indent {
        display: inline-block;
        width: $list-indent;
        text-align: right;
        white-space: pre;
        box-sizing: border-box;
        border-right: 1px dashed #CCC;
        overflow: hidden;
        font-size: .5em;
        line-height: 200%;
    }

    pre.HyperMD-list-line {
        > span > span:first-child {
            margin-left: - $list-indent - $list-bullet-width;
        }

        > span > span:first-child.cm-formatting-list,
        &.HyperMD-list-line-nobullet > span > span:first-child {
            margin-left: - $list-indent;
            width: $list-bullet-width;
        }

        &:not(.HyperMD-list-line-nobullet) {
            padding-top: $list-margin-after-line;
        }
    }

    @for $i from 1 through 6 {
        pre.HyperMD-list-line-#{$i} {
            $indent_i: $list-indent * $i + $list-margin;
            padding-left: $indent_i;
        }
    }

    span.cm-formatting-list
    {
        text-align: right;
        display: inline-block;
        white-space: pre;
        width: $list-bullet-width;
        font-family: 'HyperMD-Bullets';
        color: #666;
        &.cm-list-2 {
            text-shadow: 0 1px #666, 0 -1px #666, 1px 0 #666, -1px 0 #666;
            color: #fff;
        }
    }

    span.cm-formatting-task // task list checkbox
    {
        @extend %monospace;
        white-space: pre;
        display: inline-block;
        height: 1em;
        line-height: 1em;
        min-width: 1em;
        text-align: center;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center 0;
        cursor: pointer;

        &.cm-property {
            background-position-y: -1em;
        }

        color: rgba(#000, .5);

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAMAAAA8VkqRAAAAclBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACa4vOeAAAAJXRSTlMADcjpDswcLZOzsvOYBvWdbtvTX0D69+ORa1dRJCDtuaF7ZDkoQyuUXgAAAMhJREFUOMvt0reywjAUhOFjKxmcrgMZboL//V8Rm6GwkNUx0LClvhkVZ1fEZoqHqMwO7wuUSb0YxcJKxtLpxIt2SzJRykkQp5RgdAjaIKRJCEn6gWdA9OzRoqLVRscQnc9bdtXX/eyurOF7N3erLVDPwCGHxoVwamH1LwGUBfBbhrCvoLlMitL9DY8trLtJg7qoCj18VAN1OYE/YJBuDe1RJtBVo5wbqPb+GL5yWG1GLX0YZYw5iQ93yQ/yAHfZzu5qt/mxr97VFS15JGSVM0C6AAAAAElFTkSuQmCC');
        background-size: 1em;
        // }
    }

    /// footnote for link and image
    // note: footnote can be inside a blockquote
    pre.HyperMD-footnote {
        font-size: $fs * 0.85;
        padding-left: $footnote-padding;

        > span > span:first-child {
            margin-left: - $footnote-padding;
        }

        span.cm-hmd-footnote{
            color: #666;
            cursor: text;
            text-decoration: none;
        }
    }

    /// code block

    // pre.hmd-codeblock-start,
    // pre.hmd-codeblock-end
    // {

    // }
    pre.HyperMD-codeblock {
        @extend %monospace;
        line-height: 1em;
        font-size: 90%;
        color: #922;

        // &.hmd-codeblock-indent {
        span.cm-inline-code {
            display: inherit;
            background-color: inherit;
            border: inherit;
            padding: inherit;
        }
        // }

        &.HyperMD-codeblock-begin {
            border-top: 1px solid #CCC;
            border-radius: 4px 4px 0 0;
        }

        &.HyperMD-codeblock-end {
            border-bottom: 1px solid #CCC;
            border-radius: 0 0 4px 4px;
        }

        border-left: 1px solid #CCC;
    }

    // note: this is a background style
    div.HyperMD-codeblock-bg {
        background-color: rgba(#eee, .5);
    }


    /// link

    .cm-formatting-link + .cm-formatting-link-string,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-formatting-link-string,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link,
    .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link + .cm-formatting-link-string
    {
        display: inline-block;
        font-size: .7em;
        vertical-align: text-top;
    }

    span.cm-url, span.cm-link, .cm-link + .CodeMirror-widget {
        cursor: pointer;
    }

    span.hmd-link-icon {
        background: url(hypermd-image-link.png) no-repeat center center;
        width: 20px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        opacity: .4;
        &:hover {
            opacity: 1
        }
        &:after {
            content: "" //remove default stuff
        }
    }

    /// image

    img.hmd-image {
        vertical-align: middle;
        width: auto;
        max-width: 95%;
        height: auto;
        &.hmd-image-loading,
        &.hmd-image-error {
            min-width: 24px;
            min-height: 24px;
            background: #eeeeee url(hypermd-image-spin.gif) no-repeat center center;
        }
        &.hmd-image-error {
            background-image: url(hypermd-image-error.png);
        }
    }

    /// math blocks

    span.hmd-fold-math-placeholder {
      // when math is not fully rendered. a placeholder with raw Tex expression is presented
      @extend .cm-math;
    }

    span.cm-math-2 { font-size: 1.1 * $fs }

    /// other Markdown stuff

    span.cm-hmd-escape-backslash { color: #CAA; }
    span.cm-hmd-escape-char { color: #666 }
    span.cm-hmd-footref {
        display: inline-block;
        font-size: .7em;
        vertical-align: text-top;
        background-color: rgba(#eee, .7);
        color: #999;
        margin-top: -.2em;
    }

    span.cm-inline-code {
        @extend %monospace;
        color: #922;
        font-size: 90%;

        &:not(.cm-formatting):not(.cm-hmd-indented-code) {
            background-color: rgba(#eee, .5);
            border-radius: 4px;
            vertical-align: baseline;
            border: #ccc solid 1px;
            padding: 1px .4em;
            margin: 0 -.2em;
        }
    }

    /// hyperMD stuff

    /// hypermd/addon/click

    .HyperMD-goback {
        width: 1px;
    }
    div.HyperMD-goback-button {
        padding-right: 15px; // not less than .CodeMirror-gutters padding-right
        border-radius: 0 10px 10px 0;
        display: inline-block;
        text-align: center;
        background-color: lighten(#4078c0, 20%);
        color: #f7f7f7;
        cursor: pointer;
        // transition: .2s;
        &:hover {
            // background-color: #fafafa;
            color: transparent;
            text-align: left;
            &:before {
                position: absolute;
                padding-left: 5px;
                content: "Back";
                color: #f7f7f7;
            }
        }
    }

    /// hpyermd table

    pre.HyperMD-table-row {
        line-height: 1.5;

        > span {
            display: inline-block;
            border: $table-border-style;
            border-top: 0;
            margin-right: 50px; // leave space for hscroller
        }

        &.HyperMD-table-row-0 > span {
            border-top: $table-border-style;
            border-radius: 5px 5px 0 0;
        }

        span.cm-hmd-table-sep {
            width: $table-sep-width;
            text-align: center;
            box-sizing: content-box;
            font-weight: normal;

            &.cm-hmd-table-sep-dummy {
                width: 1em;
            }

            &:not(.cm-hmd-table-sep-dummy):before {
                content: '|';
                color: transparent;
                top: 0;
                height: 100%;
                position: absolute;
                // border-left: $table-border-style;
                background: url(#{$table-sep-image}) repeat-y center 0px;
                pointer-events: none;
            }
        }

        img.hmd-image {
            max-width: 100%; //FIXME: don't know why
        }

        &.HyperMD-table-row-0 {
            // title row
            font-weight: bold;
        }

        .hmd-table-column-content {
            // do NOT delete padding, otherwise measuring will be inaccurate!
            // something about layout Grid and Block Formatting Contexts
            padding: ($table-row1-height / 2) 1px;
        }

        &.HyperMD-table-row-1 {
            // :----: | :-----: | dash line
            line-height: $table-row1-height;

            > span { border-bottom: 0 }
            .hmd-table-column-content { padding: 1px }
        }

        &.HyperMD-table-row-0 {
            > span { border-bottom: 0 }
            span.hmd-table-column-content { padding-bottom: 1px }
        }

        &.HyperMD-table-row-2 {
            span.hmd-table-column-content { padding-top: 1px }
        }

        &.HyperMD-table-1 > span {
            // for simple table , leave extra padding to first/last column
            span:first-child { padding-left: $table-sep-width / 2 }
            span:last-child { padding-right: $table-sep-width / 2 }
        }
    }

    /// hypermd/addon/hover

    div.HyperMD-hover {
        > .HyperMD-hover-content {
            background-color: #000;
            background-color: rgba(#000, .7);
            border: 0;
            color: #fff;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 95%;
            min-width: 200px;
            a {
                color: inherit
            }
            p {
                margin: .2em 0;
            }
            code {
                @extend %monospace;
                display: inline-block;
                font-size: .87em;
                border: 1px solid #999;
                border-radius: 2px;
                padding: 0px 4px;
            }
        }
        > .HyperMD-hover-indicator {
            content: " ";
            display:block;
            width: 0px;
            margin-bottom: -5px;
            border: 5px solid transparent;
            border-top-color: #000;
            border-top-color: rgba(#000, .7);
        }
    }

    /// hide-token
    span.hmd-hidden-token{
        &.cm-formatting-task {
            color: transparent !important;
        }
    }

    pre.hmd-inactive-line {
        // background: aqua;  // just for debug

        &.HyperMD-table-row-1,  // table line |:--------:|:-------:|
        &.HyperMD-hr             // hr line    -------------
        {
            color: transparent;
            text-shadow: none;
        }

        &.HyperMD-table-row-1 > span {
            background: url(#{$table-row-1-image}) repeat-x 0px center;
        }

        &.HyperMD-table-row {
            span.cm-hmd-table-sep {
                color: transparent;
            }
        }

        span.cm-formatting-quote,
        span.cm-hmd-escape-backslash,
        span.cm-formatting-header {
            width: 0px !important;
            height: 1px;
            opacity: 0;
            overflow: hidden;
            display: inline-block;
        }

        span.cm-hmd-list-indent {
            border-right: 0;
        }
    }
}
