@import './base/defaults';

$theme-name: 'hypermd-light';

$font-normal: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Noto Sans CJK SC', 'Microsoft YaHei', STHeiti, 'Microsoft Jhenghei', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
$font-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$line-padding: 45px;
$header-hash-width: 40px;

/// CodeMirror Basic Colors
%editor {
    .cm-header, .cm-strong { font-weight: 600; }
    span.cm-quote { color: #666; }
    span.cm-meta { color: #FF1717; }
    span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
    span.cm-atom { color: #219; }
    span.cm-number { color: #164; }
    span.cm-def { color: #00f; }
    span.cm-variable { color: black; }
    span.cm-variable-2 { color: #0000C0; }
    span.cm-variable-3 { color: #0000C0; }
    span.cm-property { color: black; }
    span.cm-operator { color: black; }
    span.cm-comment { color: #4F9F5F; }
    span.cm-string { color: #2A00FF; }
    span.cm-string-2 { color: #f50; }
    span.cm-qualifier { color: #555; }
    span.cm-builtin { color: #30a; }
    span.cm-bracket { color: #cc7; }
    span.cm-tag { color: #170; }
    span.cm-attribute { color: #00c; }
    span.cm-url { color: #4af }
    span.cm-link {
        color: #4078c0;
        text-decoration: none;
        &:hover {
            text-decoration: underline
        }
    }
    span.cm-error { color: #f00; }
    span.cm-math { font-family: $font-monospace; font-style: italic; background: rgba(#ffe,.4); }
    span.cm-formatting-math { color: #CAA; font-weight: inherit; }

    .CodeMirror-activeline-background { background: #e8f2ff; }
    .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

    .CodeMirror-linenumber {
        color: #ccc;
    }
    .CodeMirror-gutters {
        border-right: $line-margin solid $editor-background;
        padding-right: 5px;
    }
    .CodeMirror-line {
        padding: 0 $line-padding;
    }
    .CodeMirror-code {
        padding-right: $line-margin;
    }
    .CodeMirror-foldmarker {
        display: inline-block;
        vertical-align: middle;
    }
}

/// addon/fold-html
%html-widget {
    table {
        border-collapse: collapse;
        td, th {
            padding: 10px;
            border: 1px solid #ccc;
        }
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        font-family: $font-monospace;
        font-size: 90%;
        line-height: 1em;
        background-color: #fafbfc;
        border: solid 1px #c6cbd1;
        border-bottom-color: rgb(198, 203, 209);
        border-bottom-color: #959da5;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #959da5;
        vertical-align: baseline;
    }

    a > img {
        border: 0;
    }
}

/// Header
%header {}
%h1 { font-weight: 600; font-size: $fs * 2 }
%h2 { font-weight: 600; font-size: $fs * 1.5 }
%h3 { font-size: $fs * 1.2 }
%header-hash { font-size: 0.7em; opacity: 0.7; }

%h1, %h2 { // add a line below the header
    &:after {
        display: block;
        content: ' ';
        margin-top: 2px;
        height: 1px;
        background: #eee;
    }
}

/// Horizontal Rule
// The line is just a image.
// By default, it shall be translucent to allow Markdown "-----" display clearly.
%hr-text { color: #999; font-family: $font-monospace; }
%hr-image { opacity: 0.6; background: url('./base/1px_999999.gif') repeat-x 0px center; }
%hr-text-hidden { color: transparent; }
%hr-image-opaque { opacity: 1; }

/// BlockQuote
// HyperMD supports strip style decoration only
$quote-indent-image: url('./base/32px_quote.gif'); // strip decoration
$quode-indent-width: 20px; // width of the strip image, for each level of blockquote
%quote-indent-gt { } // the style of ">"

/// List Checkbox
$list-checkbox-image: url('./base/checkbox.png'); // image aspect ratio must be 2:1
%list-checkbox-text { color: rgba(#000, .5); }
%list-checkbox-text-hidden { color: transparent; }

/// List Bullet and indentation space
%list-indent-space { // they are spaces! shrink them as much as you can!
    border-right: 1px dashed #CCC; // add a border
    white-space: pre;
    font-size: .5em; // decrease font-size to make it compact
    line-height: 200%;
}


/// [TOC] markup
%toc-markup { font-size: $fs * 2; color: #999; }

/// OrgMode-like markup
%orgmode-markup { }

/// YAML FrontMatter
%frontmatter { }

/// List
@font-face {
    font-family: 'HyperMD-Bullets';
    src: url('./base/hypermd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/// Finally
@import './base/compose';
