@font-face {
  font-family: "HyperMD-Bullets";
  src: url("data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAATYAAsAAAAABrQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAADLAAAAVkAAAFgkDDiyEZGVE0AAASsAAAAGwAAABx9TbkrR0RFRgAABIgAAAAiAAAAJgAnACpPUy8yAAABZAAAAEcAAABgVTNgQ2NtYXAAAALUAAAAQwAAAUoBRQLkaGVhZAAAAQgAAAAzAAAANgrgpUBoaGVhAAABPAAAAB4AAAAkBOsD+WhtdHgAAATIAAAAEAAAABALoAL5bWF4cAAAAVwAAAAGAAAABgAEUABuYW1lAAABrAAAASYAAAITC0mo3nBvc3QAAAMYAAAAEwAAACD/gwAzeJxjYGRgYABil5kPquP5bb4ycLMwgMCVWRq+ENpyHoMxAwNTNFMEkMvBwAQSBQAX2QkFAHicY2BkYGAyZtjFEMNsxQAETNEMjAyogAUAMnAB7AAAAABQAAAEAAB4nGNgYTZlnMDAysDANIvpDAMDQz+EZnzFYMTIARRlYOVkgAFGBiQQkOaawtDAoMWgy2z835ghhsn4vxuKGgUgZAQARsULIwB4nIWOMWvDMBSET4mT4g6lhC7dtBQSiI1kSgNZAw506FBIlk52YhyDsIPiDIGO/T39Lf01nXtyRJYOMcjv09O9ewfgDt8QOH+PePYsECL33MMNPj338YQfzwFCcet5gHvx4nnI/geVIgh5S7opxwIjvHnuca/x3McrvjwH1Px6HkCKB89DjMQSCzTY4wSLCiV2aCExxgYT1gQKGjNMyQYZlTmOwKLZn2xV7lo53kxkovRsKk3W5HxaoaZDxWNQYMtprOq2ak2xJb6zV9LBeVlei/JoMkJKZzfnqqWi6HbH3C4x5/nveu5rKiL+o0tSpE3dpo0tC5nESs7lZTtZq0hHLu61nGv2LA58d7kkvZ173FWXCevCHqqmlkrpWCklrxj+AequT5gAAHicY2BgYGaAYBkGRgYQcAHyGMF8FgYNIM0GpBkZmBi0GXT//wfytUD0/+v/r0HVAwEjGwOCQxAwMoHtG2YAAPijCSYAeJxjYGYAg/8NDMYMWAAAKBQBtgB4nEWOsUsCYRjG38+7y/O8zoxOIi8RXBLE0iWCtkYjLLBoNMsSJC2sKILIFuuDKIhKbBKDwDFovAgC5eb8AwqaCqql740TzBZ7nuU3Pb+HAM8DIUSKreZSufTSYgiIBQhE0AHoJqhZcJDDft7zbKm0ZM4zXW7JvEcC2+bsMKUdkK06xQ98FzQoOTSAHg3KTg1UjUR6gfsbHAAfBCYy2e311PJKzjuU8HvDI6HRgDcdzyxsdOz/N9qxgwwK8IT4ssflb6pjVCe6zuo6p7swiHfNYJfePFAxyurNqFXBBG6pGWYTYmvZZGFONO3nwtlUNX6/I86bnFAsXNILekurpcqN+DIuFK9PK7TdfHm3In7VhHQ1dZWkebp/tHcoKjiGYXxTJ0236Ywx54xhumrMxdRHU30QFPbaIJ/M4NgJ2lRmPJlGl/JT60O/SmWpITVkmRl2Zsjdv2uJiQgAAAB4nGNgZGBg4AFiMQY5BiYGRiBkBmIWoAgTEDNCMAAIgwBSAAB4nGNgYGBkAIIrkuH2YHqWhi+EtpwHADfuBa0AAgAAMwMzAOgDOgDiAzMA/A==") format("woff");
  font-weight: normal;
  font-style: normal;
}
.cm-s-hypermd-light {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Noto Sans CJK SC", "Microsoft YaHei", STHeiti, "Microsoft Jhenghei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-size: 12pt;
}
.cm-s-hypermd-light div.HyperMD-hover > .HyperMD-hover-content code, .cm-s-hypermd-light span.cm-inline-code, .cm-s-hypermd-light pre.HyperMD-codeblock, .cm-s-hypermd-light span.cm-formatting-task, .cm-s-hypermd-light span.cm-math, .cm-s-hypermd-light span.hmd-fold-math-placeholder {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.cm-s-hypermd-light .cm-header, .cm-s-hypermd-light .cm-strong {
  font-weight: 600;
}
.cm-s-hypermd-light span.cm-quote {
  color: #666;
}
.cm-s-hypermd-light span.cm-meta {
  color: #FF1717;
}
.cm-s-hypermd-light span.cm-keyword {
  line-height: 1em;
  font-weight: bold;
  color: #7F0055;
}
.cm-s-hypermd-light span.cm-atom {
  color: #219;
}
.cm-s-hypermd-light span.cm-number {
  color: #164;
}
.cm-s-hypermd-light span.cm-def {
  color: #00f;
}
.cm-s-hypermd-light span.cm-variable {
  color: black;
}
.cm-s-hypermd-light span.cm-variable-2 {
  color: #0000C0;
}
.cm-s-hypermd-light span.cm-variable-3 {
  color: #0000C0;
}
.cm-s-hypermd-light span.cm-property {
  color: black;
}
.cm-s-hypermd-light span.cm-operator {
  color: black;
}
.cm-s-hypermd-light span.cm-comment {
  color: #4F9F5F;
}
.cm-s-hypermd-light span.cm-string {
  color: #2A00FF;
}
.cm-s-hypermd-light span.cm-string-2 {
  color: #f50;
}
.cm-s-hypermd-light span.cm-qualifier {
  color: #555;
}
.cm-s-hypermd-light span.cm-builtin {
  color: #30a;
}
.cm-s-hypermd-light span.cm-bracket {
  color: #cc7;
}
.cm-s-hypermd-light span.cm-tag {
  color: #170;
}
.cm-s-hypermd-light span.cm-attribute {
  color: #00c;
}
.cm-s-hypermd-light span.cm-url {
  color: #4af;
}
.cm-s-hypermd-light span.cm-link {
  color: #4078c0;
  text-decoration: none;
}
.cm-s-hypermd-light span.cm-link:hover {
  text-decoration: underline;
}
.cm-s-hypermd-light span.cm-error {
  color: #f00;
}
.cm-s-hypermd-light span.cm-math, .cm-s-hypermd-light span.hmd-fold-math-placeholder {
  color: #300;
  font-style: italic;
  background: rgba(255, 255, 238, 0.4);
}
.cm-s-hypermd-light span.cm-formatting-math {
  color: #CAA;
}
.cm-s-hypermd-light .CodeMirror-activeline-background {
  background: #e8f2ff;
}
.cm-s-hypermd-light .CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: black !important;
}
.cm-s-hypermd-light .CodeMirror-linenumber {
  color: #ccc;
}
.cm-s-hypermd-light .CodeMirror-gutters {
  border-right: 10px solid #FFF;
  padding-right: 5px;
}
.cm-s-hypermd-light .CodeMirror-foldmarker {
  display: inline-block;
  vertical-align: middle;
}
.cm-s-hypermd-light pre.CodeMirror-line {
  word-break: break-all;
}
.cm-s-hypermd-light pre.HyperMD-header-line:after, .cm-s-hypermd-light pre.HyperMD-header.HyperMD-header-1:after, .cm-s-hypermd-light pre.HyperMD-header.HyperMD-header-2:after {
  display: block;
  content: " ";
  margin-top: 2px;
  height: 1px;
  background: #eee;
}
.cm-s-hypermd-light pre.HyperMD-header {
  line-height: 1.5 !important;
  font-family: inherit !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  border-left: 0 !important;
  color: #333;
}
.cm-s-hypermd-light pre.HyperMD-header > span > span:first-child {
  margin-left: 0 !important;
}
.cm-s-hypermd-light pre.HyperMD-header.HyperMD-header-1 {
  font-weight: 600;
  font-size: 24pt;
}
.cm-s-hypermd-light pre.HyperMD-header.HyperMD-header-2 {
  font-weight: 600;
  font-size: 18pt;
}
.cm-s-hypermd-light pre.HyperMD-header.HyperMD-header-3 {
  font-size: 14.4pt;
}
.cm-s-hypermd-light pre.HyperMD-header-line {
  color: rgba(0, 0, 0, 0.3);
  line-height: 8px;
}
.cm-s-hypermd-light pre.HyperMD-hr {
  background: url("data:image/gif;base64,R0lGODlhAQACAIAAAOTq8kNWcCH5BAAAAAAALAAAAAABAAIAAAICDAoAOw==") repeat-x 0px center;
  text-shadow: 0 0 2px #FFF;
}
.cm-s-hypermd-light pre.HyperMD-quote:before {
  content: " ";
  position: absolute;
  left: 2px;
  top: 0;
  height: 100%;
  background: url("data:image/gif;base64,R0lGODlhIAABAIABAOjo6P///yH5BAEAAAEALAAAAAAgAAEAAAIHhI8Yy+1cAAA7") 0 0;
  background-size: 20px 1px;
}
.cm-s-hypermd-light pre.HyperMD-quote-1 {
  padding-left: 22px;
}
.cm-s-hypermd-light pre.HyperMD-quote-1:before {
  width: 20px;
}
.cm-s-hypermd-light pre.HyperMD-quote-2 {
  padding-left: 42px;
}
.cm-s-hypermd-light pre.HyperMD-quote-2:before {
  width: 40px;
}
.cm-s-hypermd-light pre.HyperMD-quote-3 {
  padding-left: 62px;
}
.cm-s-hypermd-light pre.HyperMD-quote-3:before {
  width: 60px;
}
.cm-s-hypermd-light pre.HyperMD-quote-4 {
  padding-left: 82px;
}
.cm-s-hypermd-light pre.HyperMD-quote-4:before {
  width: 80px;
}
.cm-s-hypermd-light pre.HyperMD-quote-5 {
  padding-left: 102px;
}
.cm-s-hypermd-light pre.HyperMD-quote-5:before {
  width: 100px;
}
.cm-s-hypermd-light pre.HyperMD-quote-6 {
  padding-left: 122px;
}
.cm-s-hypermd-light pre.HyperMD-quote-6:before {
  width: 120px;
}
.cm-s-hypermd-light .cm-hmd-list-indent,
.cm-s-hypermd-light .cm-hmd-list-indent + .cm-formatting-list,
.cm-s-hypermd-light pre.HyperMD-list-line-1 > span > .cm-formatting-list:first-child {
  display: inline-block;
  width: 2em;
  box-sizing: border-box;
  border-left: 1px dashed #eee;
  vertical-align: middle;
  text-align: right;
}
.cm-s-hypermd-light .cm-hmd-list-indent.cm-hmd-list-indent-virtual + .cm-list-1:not(.cm-formatting),
.cm-s-hypermd-light .cm-hmd-list-indent + .cm-formatting-list.cm-hmd-list-indent-virtual + .cm-list-1:not(.cm-formatting),
.cm-s-hypermd-light pre.HyperMD-list-line-1 > span > .cm-formatting-list:first-child.cm-hmd-list-indent-virtual + .cm-list-1:not(.cm-formatting) {
  /**
   *- xxx      <- without any space to indent the bullet
   *  xxxxxx   <- this is level2 line, but only one indent <span>.
   */
  padding-left: 2em;
}
.cm-s-hypermd-light .cm-hmd-list-indent.cm-hmd-list-indent-1,
.cm-s-hypermd-light .cm-hmd-list-indent + .cm-formatting-list.cm-hmd-list-indent-1,
.cm-s-hypermd-light pre.HyperMD-list-line-1 > span > .cm-formatting-list:first-child.cm-hmd-list-indent-1 {
  display: inline;
  border-left: 0;
}
.cm-s-hypermd-light .cm-hmd-list-indent.cm-hmd-list-indent-corrupted,
.cm-s-hypermd-light .cm-hmd-list-indent + .cm-formatting-list.cm-hmd-list-indent-corrupted,
.cm-s-hypermd-light pre.HyperMD-list-line-1 > span > .cm-formatting-list:first-child.cm-hmd-list-indent-corrupted {
  background: rgba(255, 0, 0, 0.4);
}
.cm-s-hypermd-light pre.HyperMD-list-line-1 {
  padding-left: 2.2em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-1 > span > span:first-child {
  margin-left: -2.4em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-2 {
  padding-left: 4.2em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-2 > span > span:first-child {
  margin-left: -4.4em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-3 {
  padding-left: 6.2em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-3 > span > span:first-child {
  margin-left: -6.4em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-4 {
  padding-left: 8.2em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-4 > span > span:first-child {
  margin-left: -8.4em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-5 {
  padding-left: 10.2em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-5 > span > span:first-child {
  margin-left: -10.4em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-6 {
  padding-left: 12.2em;
}
.cm-s-hypermd-light pre.HyperMD-list-line-6 > span > span:first-child {
  margin-left: -12.4em;
}
.cm-s-hypermd-light .cm-formatting-list {
  font-family: "HyperMD-Bullets";
  color: #666;
}
.cm-s-hypermd-light .cm-formatting-list.cm-list-2 {
  text-shadow: 0 1px #666, 0 -1px #666, 1px 0 #666, -1px 0 #666;
  color: #fff;
}
.cm-s-hypermd-light span.cm-formatting-task {
  white-space: pre;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  min-width: 1em;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAMAAAA8VkqRAAAAclBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACa4vOeAAAAJXRSTlMADcjpDswcLZOzsvOYBvWdbtvTX0D69+ORa1dRJCDtuaF7ZDkoQyuUXgAAAMhJREFUOMvt0reywjAUhOFjKxmcrgMZboL//V8Rm6GwkNUx0LClvhkVZ1fEZoqHqMwO7wuUSb0YxcJKxtLpxIt2SzJRykkQp5RgdAjaIKRJCEn6gWdA9OzRoqLVRscQnc9bdtXX/eyurOF7N3erLVDPwCGHxoVwamH1LwGUBfBbhrCvoLlMitL9DY8trLtJg7qoCj18VAN1OYE/YJBuDe1RJtBVo5wbqPb+GL5yWG1GLX0YZYw5iQ93yQ/yAHfZzu5qt/mxr97VFS15JGSVM0C6AAAAAElFTkSuQmCC");
  background-size: 1em;
}
.cm-s-hypermd-light span.cm-formatting-task.cm-property {
  background-position-y: -1em;
}
.cm-s-hypermd-light pre.HyperMD-footnote {
  font-size: 10.2pt;
  padding-left: 4em;
}
.cm-s-hypermd-light pre.HyperMD-footnote > span > span:first-child {
  margin-left: -4em;
}
.cm-s-hypermd-light pre.HyperMD-footnote span.cm-hmd-footnote {
  color: #666;
  cursor: text;
  text-decoration: none;
}
.cm-s-hypermd-light pre.HyperMD-footnote span.cm-hmd-footnote ~ span.cm-url:not(.cm-hmd-footnote-url) {
  color: inherit;
  cursor: text;
}
.cm-s-hypermd-light pre.HyperMD-codeblock {
  line-height: 1em;
  font-size: inherit;
  border-left: 1px solid #CCC;
}
.cm-s-hypermd-light pre.HyperMD-codeblock span.cm-inline-code {
  display: inherit;
  background-color: inherit;
  border: inherit;
  padding: inherit;
}
.cm-s-hypermd-light pre.HyperMD-codeblock.HyperMD-codeblock-begin {
  border-top: 1px solid #CCC;
  border-radius: 4px 4px 0 0;
}
.cm-s-hypermd-light pre.HyperMD-codeblock.HyperMD-codeblock-end {
  border-bottom: 1px solid #CCC;
  border-radius: 0 0 4px 4px;
}
.cm-s-hypermd-light div.HyperMD-codeblock-bg,
.cm-s-hypermd-light div.HyperMD-codeblock-indented-bg {
  background-color: rgba(238, 238, 238, 0.5);
}
.cm-s-hypermd-light .cm-formatting-link + .cm-formatting-link-string,
.cm-s-hypermd-light .cm-formatting-link + .cm-formatting-link-string + .cm-url,
.cm-s-hypermd-light .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-formatting-link-string,
.cm-s-hypermd-light .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link,
.cm-s-hypermd-light .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link + .cm-formatting-link-string {
  display: inline-block;
  font-size: 0.7em;
  vertical-align: text-top;
}
.cm-s-hypermd-light span.cm-url, .cm-s-hypermd-light span.cm-link, .cm-s-hypermd-light .cm-link + .CodeMirror-widget {
  cursor: pointer;
}
.cm-s-hypermd-light span.hmd-link-icon {
  background: url(hypermd-image-link.png) no-repeat center center;
  width: 20px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.4;
}
.cm-s-hypermd-light span.hmd-link-icon:hover {
  opacity: 1;
}
.cm-s-hypermd-light span.hmd-link-icon:after {
  content: "";
}
.cm-s-hypermd-light img.hmd-image {
  vertical-align: middle;
  width: auto;
  max-width: 95%;
  height: auto;
}
.cm-s-hypermd-light img.hmd-image.hmd-image-loading, .cm-s-hypermd-light img.hmd-image.hmd-image-error {
  min-width: 24px;
  min-height: 24px;
  background: #eeeeee url(hypermd-image-spin.gif) no-repeat center center;
}
.cm-s-hypermd-light img.hmd-image.hmd-image-error {
  background-image: url(hypermd-image-error.png);
}
.cm-s-hypermd-light span.cm-math-2 {
  font-size: 13.2pt;
}
.cm-s-hypermd-light span.cm-hmd-escape-backslash {
  color: #999;
}
.cm-s-hypermd-light span.cm-escape-char {
  color: #666;
}
.cm-s-hypermd-light span.cm-hmd-footref {
  display: inline-block;
  font-size: 0.7em;
  vertical-align: text-top;
  background-color: rgba(238, 238, 238, 0.7);
  color: #999;
  margin-top: -0.2em;
}
.cm-s-hypermd-light span.cm-inline-code {
  color: #922;
  font-size: 90%;
}
.cm-s-hypermd-light span.cm-inline-code:not(.cm-formatting) {
  display: inline-block;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 4px;
  vertical-align: middle;
  border: #ccc solid 1px;
  padding: 1px 0.4em;
}
.cm-s-hypermd-light .HyperMD-goback {
  width: 1px;
}
.cm-s-hypermd-light div.HyperMD-goback-button {
  padding-right: 15px;
  border-radius: 0 10px 10px 0;
  display: inline-block;
  text-align: center;
  background-color: #8daed9;
  color: #f7f7f7;
  cursor: pointer;
}
.cm-s-hypermd-light div.HyperMD-goback-button:hover {
  color: transparent;
  text-align: left;
}
.cm-s-hypermd-light div.HyperMD-goback-button:hover:before {
  position: absolute;
  padding-left: 5px;
  content: "Back";
  color: #f7f7f7;
}
.cm-s-hypermd-light pre.HyperMD-table-row {
  line-height: 1.5;
}
.cm-s-hypermd-light pre.HyperMD-table-row > span {
  display: inline-block;
  border: 1px solid #999;
  border-top: 0;
}
.cm-s-hypermd-light pre.HyperMD-table-row.HyperMD-table-row-0 > span {
  border-top: 1px solid #999;
}
.cm-s-hypermd-light pre.HyperMD-table-row.HyperMD-table-title-has_rowsep > span {
  border-bottom: 0;
}
.cm-s-hypermd-light pre.HyperMD-table-row span.cm-hmd-table-sep {
  width: 1em;
  text-align: center;
  box-sizing: content-box;
  font-weight: normal;
}
.cm-s-hypermd-light pre.HyperMD-table-row span.cm-hmd-table-sep:before {
  content: " ";
  margin-left: 1px;
  top: 0;
  width: 0;
  height: 100%;
  position: absolute;
  border-left: 1px solid #999;
}
.cm-s-hypermd-light pre.HyperMD-table-row img.hmd-image {
  max-width: 100%;
}
.cm-s-hypermd-light pre.HyperMD-table-row.HyperMD-table-rowsep {
  line-height: 0.5em;
}
.cm-s-hypermd-light pre.HyperMD-table-row.HyperMD-table-row-0 {
  font-weight: bold;
}
.cm-s-hypermd-light pre.HyperMD-table-row .hmd-table-column-content {
  padding: 2px 5px;
}
.cm-s-hypermd-light div.HyperMD-hover > .HyperMD-hover-content {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 95%;
  min-width: 200px;
}
.cm-s-hypermd-light div.HyperMD-hover > .HyperMD-hover-content a {
  color: inherit;
}
.cm-s-hypermd-light div.HyperMD-hover > .HyperMD-hover-content p {
  margin: 0.2em 0;
}
.cm-s-hypermd-light div.HyperMD-hover > .HyperMD-hover-content code {
  display: inline-block;
  font-size: 0.87em;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 0px 4px;
}
.cm-s-hypermd-light div.HyperMD-hover > .HyperMD-hover-indicator {
  content: " ";
  display: block;
  width: 0px;
  margin-bottom: -5px;
  border: 5px solid transparent;
  border-top-color: #000;
  border-top-color: rgba(0, 0, 0, 0.7);
}
.cm-s-hypermd-light span.hmd-hidden-token.cm-formatting-task {
  color: transparent !important;
}
.cm-s-hypermd-light pre.hmd-inactive-line.HyperMD-table-rowsep, .cm-s-hypermd-light pre.hmd-inactive-line.HyperMD-hr {
  color: transparent;
  text-shadow: none;
}
.cm-s-hypermd-light pre.hmd-inactive-line.HyperMD-table-rowsep > span {
  background: url("data:image/gif;base64,R0lGODlhAQACAIAAAOTq8kNWcCH5BAAAAAAALAAAAAABAAIAAAICDAoAOw==") repeat-x 0px center;
}
.cm-s-hypermd-light pre.hmd-inactive-line.HyperMD-table-row span.cm-hmd-table-sep {
  color: transparent;
}
.cm-s-hypermd-light pre.hmd-inactive-line span.cm-formatting-quote,
.cm-s-hypermd-light pre.hmd-inactive-line span.cm-formatting-header {
  width: 0px !important;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  display: inline-block;
}

div.HyperMD-math-preview {
  overflow: auto;
  text-align: center;
  min-height: 3.5em;
  max-height: 7em;
  border-top: 1px solid #EEE;
  background: #f7f7f7;
}
div.HyperMD-math-preview:after {
  display: block;
  content: " ";
  clear: both;
}
div.HyperMD-math-preview > div.HyperMD-math-preview-content {
  overflow: hidden;
}
div.HyperMD-math-preview > div.HyperMD-math-preview-content .MathJax_Display,
div.HyperMD-math-preview > div.HyperMD-math-preview-content .MathJax_SVG_Display {
  margin: 10px 0;
}
div.HyperMD-math-preview > div.HyperMD-math-preview-title {
  background: #EEE;
  color: #666;
  font-size: 10px;
  padding: 4px;
  cursor: pointer;
}
div.HyperMD-math-preview.HyperMD-math-preview-hidden {
  height: 0px;
  min-height: 0px;
  overflow: hidden;
  border-top: 0;
}