@import './base/defaults';

$theme-name: 'hypermd-dark';

// variables for this theme

$dark__bgc: #2b3e50;
$dark__fgc: #f8f8f2;
$dark__bgc-d1: darken($dark__bgc, 5);
$dark__bgc-d2: darken($dark__bgc, 10);
$dark__bgc-0: lighten($dark__bgc, 5);
$dark__bgc-1: lighten($dark__bgc, 10);
$dark__bgc-2: lighten($dark__bgc, 15);
$dark__bgc-3: lighten($dark__bgc, 20);
$dark__fgc-0: darken($dark__fgc, 5);
$dark__fgc-1: darken($dark__fgc, 10);
$dark__fgc-2: darken($dark__fgc, 15);
$dark__fgc-3: darken($dark__fgc, 20);

$dark__selection_bgc: $dark__bgc-d2;

// well....

$font-normal: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Noto Sans CJK SC', 'Microsoft YaHei', STHeiti, 'Microsoft Jhenghei', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
$font-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

$editor-background: $dark__bgc;
$editor-color: $dark__fgc-0;

$gutter-background: $dark__bgc;
$gutter-button-background: $dark__bgc-3;

$line-padding: 45px;
$header-hash-width: 40px;

/// CodeMirror Basic Colors
%editor {
    // HyperMD appendix
    .cm-inline-code, .cm-math { color: #ff6541; }
    .cm-header, .cm-strong { font-weight: 600; }

    // CodeMirror standard styles
    .CodeMirror-gutters { color: #2b3e50; }
    .CodeMirror-cursor { border-left: solid thin #E6C845; }
    .CodeMirror-linenumber { color: $dark__bgc-3; }
    .CodeMirror-selected { background: $dark__selection_bgc; }
    .CodeMirror-line::selection,  .CodeMirror-line > span::selection,  .CodeMirror-line > span > span::selection { background: $dark__selection_bgc; }
    .CodeMirror-line::-moz-selection,  .CodeMirror-line > span::-moz-selection,  .CodeMirror-line > span > span::-moz-selection { background: $dark__selection_bgc; }
    .cm-comment { color: #5c98cd; }
    .cm-string,  .cm-string-2 { color: #E6DB74; }
    .cm-number { color: #ca94ff; }
    .cm-variable { color: #f8f8f2; }
    .cm-variable-2 { color: #f8f8f2; }
    .cm-def { color: #72C05D; }
    .cm-operator { color: #66D9EF; }
    .cm-keyword { color: #ff6541; }
    .cm-atom { color: #bd93f9; }
    .cm-meta { color: #f8f8f2; }
    .cm-tag { color: #ff6541; }
    .cm-attribute { color: #66D9EF; }
    .cm-qualifier { color: #72C05D; }
    .cm-property { color: #f8f8f2; }
    .cm-builtin { color: #72C05D; }
    .cm-variable-3,  .cm-type { color: #ffb86c; }

    .cm-url { color: #5c98cd }
    .cm-link { color: #66D9EF; }

    .CodeMirror-activeline-background { background: #243443; }
    .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

    .cm-em { color: #FFF; }
    .cm-strong { color: #E6DB74; }
}

//////////////////////////////////////////////////////////////////
/// Lines

/// Header
%header-line {
    color: $dark__fgc;
    .cm-link { color: rgb(172, 241, 255); }
}
%h1-line { font-weight: 600; font-size: $fs * 2 }
%h2-line { font-weight: 600; font-size: $fs * 1.5 }
%h3-line { font-size: $fs * 1.2 }
%header-hash { font-size: 0.7em; opacity: 0.7; }

%h1-line, %h2-line { // add a line below the header
    &:after {
        display: block;
        content: ' ';
        margin-top: 2px;
        height: 1px;
        background: #556;
    }
}

/// Horizontal Rule
// the Markdown line "-----"
%hr-line { color: #999; font-family: $font-monospace; }
%hr-line-hidden { color: transparent; }

// The visual Horizontal Rule is just a image.
// By default, %hr-image shall be translucent so that we can display Markdown line "-----" clearly.
%hr-image { opacity: 0.3; background: url('./base/1px_999999.gif') repeat-x 0px center; }
%hr-image-opaque { opacity: 1; }

/// BlockQuote
%quote-line { }

// HyperMD supports strip style decoration only
$quote-indent-image: url('./base/quote-strip.png'); // strip decoration
$quode-indent-width: 20px; // width of the strip image, for each level of blockquote
%quote-indent-gt { } // the style of ">"
%quote-indent-gt-hidden { color: transparent; }

/// List
%list-line { }

/// List Checkbox
$list-checkbox-image: none; // image aspect ratio must be 2:1
%list-checkbox-text { color: #F40; }
%list-checkbox-text-hidden { color: transparent; background-image: url('./base/checkbox_white.png'); }

/// List Bullet and indentation space
%list-indent-space { // spaces before item text or bullet! shrink them as much as you can!
    border-right: 1px dashed #789; // add a border
    white-space: pre;
    font-size: .5em; // decrease font-size to make it compact
    line-height: 200%;
}
@font-face {
    font-family: 'HyperMD-Bullets';
    src: url('./base/hypermd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
%list-bullet { // "-" or "1.", "2." <span>
    font-family: 'HyperMD-Bullets';
    color: #999;
    &.cm-list-2 {
        text-shadow: 0 1px #666, 0 -1px #666, 1px 0 #666, -1px 0 #666;
        color: #fff;
    }
}

/// Footnote
$footnote-hanging-indent: 40px;
%footnote-line { font-size: $fs * 0.85; }
%footnote-name { color: #AAA; }  // [foot-note]:

/// CodeBlock
$codeblock-line-height: 1.1;
$codeblock-border: 1px solid $dark__bgc-1;
$codeblock-background: $dark__bgc-0; // background is set via variable!!!!
%codeblock-line { color: #ff6541; }

$codeblock-begin-background: $dark__bgc-1;
%codeblock-begin-line {}

$codeblock-end-background: $dark__bgc-1;
%codeblock-end-line {}

/// Table
// tables in HyperMD are too tricky to explain. limited styles of table can be changed. sorry...
// @see ./base/defaults.scss
$table-border-style: 1px solid #999;
$table-sep-image: url('./base/1px_999999.gif');    // vertical border image
$table-row-1-image: url('./base/1px_999999.gif');  // the horizontal line below the title row
%editor pre.HyperMD-table-row {
    // title row
    &.HyperMD-table-row-0 {
        font-weight: 600;
        .cm-strong { font-weight: 800; }   // **Bold** in the table header
    }
}

//////////////////////////////////////////////////////////////////
/// Inlines and inline widgets (eg. marker icon)

/// Image
%editor img.hmd-image {
    &.hmd-image-loading,
    &.hmd-image-error {
        min-width: 24px;
        min-height: 24px;
        background: #eeeeee url('./base/spin.gif') no-repeat center center;
    }
    &.hmd-image-error {
        background-image: url('./base/image-error.png');
    }
}

/// [inline] link
%link-text {
    // color is pre-defined above. search for "cm-link"
    text-decoration: none;
    &:hover {
        text-decoration: underline
    }
}
%link-href {
    font-size: .85em;
    vertical-align: text-top;
}

/// [marker icon] folded link href
%link-icon {
    background: url('./base/link_white.png') no-repeat center center;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    opacity: .4;
    &:hover {
        opacity: 1
    }
    &:after {
        content: "" //remove default stuff
    }
}

/// [inline] "[TOC]" markup
%toc-markup { font-size: $fs * 2; color: #999; }

/// [inline] OrgMode-like markup
%orgmode-markup { }

/// [inline] YAML FrontMatter
%frontmatter { }

/// [inline] Math Formula (text)
%editor {
    .cm-math { font-family: $font-monospace; font-style: italic; background: rgba(#FFF,.03); }
    .cm-formatting-math { color: #CAA; font-weight: inherit; }
    .cm-math-2 { font-size: 1.1 * $fs }
}

/// [inline] escaped chars and their leading backslash
%editor {
    span.cm-hmd-escape-backslash { color: #CAA; }
    .cm-hmd-escape-char { color: $dark__fgc-2; }
}

/// [inline] footnote references like [^this]
%footref {
    display: inline-block;
    font-size: .7em;
    vertical-align: text-top;
    background-color: rgba(#FFF, 0.1);
    color: #CCC;
    margin-top: -.2em;
}

/// [inline] inline code (both content and backticks)
%inline-code {
    font-size: 90%;
}

/// [inline] inline code (content only)
%inline-code-content {
    padding: 1px .4em;
    border: $dark__bgc-3 solid 1px;
    border-radius: 4px;
    vertical-align: baseline;
    background-color: $dark__bgc-0;
}

/// [inline] hashtag
%editor {
    $hashtag-fontsize: 0.9em;
    $hashtag-padding-x: 6px;
    $hashtag-padding-y: 0.1em;
    $hashtag-radius: 8px;

    .cm-hashtag {
        background-color: $dark__bgc-d2;
        background-color: rgba(#000, 0.3);
        color: #FFF;
        font-size: $hashtag-fontsize;
        padding-top: $hashtag-padding-y;
        padding-bottom: $hashtag-padding-y;
        display: inline-block;
        vertical-align: middle;

        &.cm-hashtag-begin {
            padding-left: $hashtag-padding-x;
            border-radius: $hashtag-radius 0 0 $hashtag-radius;
        }

        &.cm-hashtag-end {
            padding-right: $hashtag-padding-x;
            border-radius: 0 $hashtag-radius $hashtag-radius 0;
        }

        &.cm-hmd-escape-backslash {
            color: #FCC; // brighter than previously defined color
        }
    }

    // the leading (and optional tailing) "#"
    .cm-formatting-hashtag {
        @extend %monospace;
        color: $dark__fgc-3;
    }
}

//////////////////////////////////////////////////////////////////
/// HyperMD stuff

/// Hovering tooltip -- see doc
%editor div.HyperMD-hover {
    > .HyperMD-hover-indicator { // a triangle
        width: 0px;
        border: 5px solid transparent;
        border-top-color: #000;
        border-top-color: rgba(#000, .7);
    }
    > .HyperMD-hover-content { // a round-rectangle
        background-color: #000;
        background-color: rgba(#000, .7);
        border: 0;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 95%;
        min-width: 200px;
        a {
            color: inherit
        }
        p {
            margin: .2em 0;
        }
        code {
            @extend %monospace;
            display: inline-block;
            font-size: .87em;
            border: 1px solid #999;
            border-radius: 2px;
            padding: 0px 4px;
        }
    }
}

/// fold-html -- see doc
%editor {
    .hmd-fold-html-stub {
        @extend %monospace;
        display: inline-block;
        font-size: 87%;
        color: $dark__fgc-2;
        vertical-align: middle;
        border: 2px solid $dark__bgc-2;
        padding: 0 5px;
        border-radius: 5px;
        background: $dark__bgc-d1;
        cursor: pointer;

        &:hover,
        &.highlight {
            // for non-inline HTML stub. Remind user where the stub is.
            color: #FFF;
            border-color: #C30;
            background: #F40;
        }

        // hide omittable stub
        &.omittable {
            display: none;
        }
    }

    // and un-hide the stub when cursor is hovering on `span.hmd-fold-html`
    .hmd-fold-html:hover .hmd-fold-html-stub.omittable {
        display: block;
        right: 0;
        bottom: 0;
        margin: 0;
        position: absolute;
        z-index: 100;
    }
}

/// fold-html -- highlighting rendered element, when cursor is hovering on the stub
%fold-html-content-highlight {
    outline: 2px dashed #999;
}

/// fold-html -- see doc
%fold-html-container {
    table {
        border-collapse: collapse;
        td, th {
            padding: 10px;
            border: 1px solid #999;
        }
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        font-family: $font-monospace;
        font-size: 90%;
        line-height: 1em;
        background-color: $dark__bgc-2;
        border: solid 1px $dark__bgc-d2;
        border-bottom-color: $dark__bgc-d1;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 $dark__bgc-d1;
        vertical-align: baseline;
    }

    a > img {
        border: 0;
    }
}

/// hypermd/addon/insert-file
%editor {
    .hmd-file-uploading {
        outline: 2px dashed #CCC;
        outline-offset: -2px;
        animation: hmd-file-uploading-ani 1.5s linear infinite;
    }

    @keyframes hmd-file-uploading-ani {
        0%, 100% { opacity: 0.4; }
        50% { opacity: 0.7; }
    }

    .hmd-file-uploaded {
        outline: 2px solid #6C3;
        outline-offset: -2px;
    }
}

//////////////////////////////////////////////////////////////////
/// Finally
@import './base/compose';
