.CodeMirror, #test-box, #header {
    max-width: 800px;
    margin: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', STHeiti, 'Microsoft Jhenghei', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
}

a {
    color: #4078c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

h1, h2, h3, b {
    font-weight: 600
}

h2 {
    font-size: 1.4em;
}

#test-box ul {
    list-style: circle;
}
